{% extends "ERCantineBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Accueil{% endblock %}
{% block menu %}
                <ul class="nav navbar-nav">
                    <li class="active"><a href="{{ path('cantine_home') }}">Home</a></li>
                    <li ><a href="{{ path('cantine_today') }}">Aujourd'hui</a></li>
                    <li><a href="{{ path('cantine_calendar') }}">Calendrier</a></li>
                    <li ><a href="{{ path('cantine_account') }}">Comptes</a></li>
                </ul>
                {% endblock %}

{% block body %}

  Bienvenue sur la page d'accueil de la cantine

{% endblock %}