{% extends "ERCantineBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Semaine{% endblock %}
{% block menu %}
                <ul class="nav navbar-nav">
                    <li><a href="{{ path('cantine_home') }}">Home</a></li>
                    <li ><a href="{{ path('cantine_today') }}">Aujourd'hui</a></li>
                    <li class="active"><a href="{{ path('cantine_calendar') }}">Semaine</a></li>
                    <li><a href="{{ path('cantine_account') }}">Comptes</a></li>
                </ul>
                {% endblock %}

{% block body %}

    {% include 'ADesignsCalendarBundle::calendar.html.twig' %}

    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
{% endblock %}